<h1> Email Statistics </h1>
<p> Emails <span>sent</span>: <%= Email.count_event('send') %> </p>
<p> Emails <span>opened</span>: <%= Email.count_event('open') %> </p>
<p> Number of <span>clicks</span>: <%= Email.count_event('click') %> </p>

<p> <span>Open</span> rate per email type: </p>
<ul class="open-rate">
  <%= render partial: 'rate', locals: { event: 'open' }  %>
</ul>

<p> <span>Click</span> rate per email type: </p>
<ul class="click-rate">
  <%= render partial: 'rate', locals: { event: 'click' }  %>
</ul>
